.aboutme{
    background-image: url('../../public/images/background.jpg');
    background-repeat: none;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.aboutme h3{
    text-align: center;
    margin: 85px auto 10px auto;
    background-color: #febeaabd;
    width: 80%;
    padding: 20px;
    color: #a78338;
    font-size: 40px;
}

.aboutme .content{
    text-align: center;
    color: #a78338;
    width: 80%;
    height: 380px;
    padding: 20px;
    margin: 10px auto 0 auto;
    background-color: #d9eec5c1;
}