.footer{
    color: black;
    background: #f3e5d0;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    opacity: .80;
}

.footer h6{
    padding: 0;
    margin: 0;
}