
.nav .navbar{
    position: fixed;
    z-index: 2;
    top: 20px;
    width: 100%;
    background-color: #f3e5d0 !important;
    opacity: .90;
}

.nav .navbar .navbar-collapse{
    width: 100%;    
}
