.quantitypicker{
    color: #1E2D2F;
}

.quantitypicker button{
    width: 25px;
    height: 25px;
    font-size: 18px;
    background-color: #041F1E;
    color: #F1AB86;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 2px;
    cursor: pointer;
}

.quantitypicker button:hover{
    border: 2px solid #f7DBA7;
}

.quantitypicker label{
    font-size: 18px;
    background-color: #041F1E;
    color: #F1AB86;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    padding: 1px 8px 2px 8px;
}
